@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Roboto', sans-serif;  }
  body{
    background: rgba(240, 241, 241, 0.993);
  }
  h2{
    text-align: center;
    font-size: 48px;
    color: white;
  }
  h1{
    color: rgb(255, 255, 255);
    text-align: left;
    margin-top: 50px;
  }
  h3{
    font-weight: 500;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.5s;
    font-weight: 700;
    padding: 5px 8px;
    letter-spacing: 0.5px;
    cursor: pointer;
    box-shadow: 1px 1px 4px rgba(94, 93, 93, 0.87);
  }
  .register{
    background: rgb(36, 167, 207);
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .register:hover{
    background: rgb(24, 109, 134);
  }
  .sign{
    color: rgba(94, 93, 93, 0.87);
    background: white;
    position: absolute;
    top: 20px;
    right: 99px;  
  }
  .sign:hover{
  background: rgb(24, 109, 134);
  color: white;
  }
  .App{
    background-image: linear-gradient( to bottom, rgb(28, 126, 156), rgb(35, 154, 190), rgba(47, 206, 255, 0.829));
    width: 90%;
    max-width: 500px;
    /* height: 600px; */
    padding: 20px;
    margin: 100px auto;
    box-shadow: 1px 1px 10px rgba(94, 93, 93, 0.87);
    border-radius: 5px;
  }
  .container{
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    gap: 20px;
    margin: 50px auto 20px auto;
    width: 90%;
    max-width: 300px;
    padding: 20px;
    box-shadow: 1px 1px 4px rgba(94, 93, 93, 0.87);
  }
  input{
    padding: 5px 8px;
    font-size: 12px;
    outline: none;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid rgba(94, 93, 93, 0.87);
    width: 80%;
  }
  button{
    padding: 5px 8px;
    font-size: 16px;
    font-weight: 500;
    width: 70%;
    background:  rgb(31, 140, 173);
    color: white;
    border: none;
    border-radius: 25px;
    margin: 0 auto;
    box-shadow: 1px 1px 4px rgba(94, 93, 93, 0.87);
    cursor: pointer;
    transition: all 0.5s;
  }
  button:hover{
    background: rgb(24, 109, 134);
  }
  .nameIcon{
    display: flex;
    font-size: 20px;
    align-items: center;
    gap: 5px;
    color: rgb(3, 47, 68);
  }
  .emailIcon{
    display: flex;
    font-size: 20px;
    align-items: center;
    gap: 5px;
    color: rgb(3, 47, 68); 
  }
  .passwordIcon{
    display: flex;
    font-size: 20px;
    align-items: center;
    gap: 5px;
    color: rgb(3, 47, 68); 
    cursor: pointer;
  }
  .condition {
    max-width: 300px;
    width: 90%;
    margin: 0 auto;
  }
  p{
    color: rgb(3, 47, 68);
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 5px;
  }
  label{
    cursor: pointer;
  }